<a href="https://colab.research.google.com/github/Chrisbv2/Challenge-1_Data-Science/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [4]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

En este primer análisis, debes calcular el ingreso total de cada tienda. Sumando los valores de la columna Precio de cada conjunto de datos de la tienda para estimar los ingresos.

In [5]:
'''ingr_total_t1 = tienda['Precio'].sum()
ingr_total_t2 = tienda2['Precio'].sum()
ingr_total_t3 = tienda3['Precio'].sum()
ingr_total_t4 = tienda4['Precio'].sum()

print(f"El ingreso total de la tienda 1 es: {ingr_total_t1}")
print(f"El ingreso total de la tienda 2 es: {ingr_total_t2}")
print(f"El ingreso total de la tienda 3 es: {ingr_total_t3}")
print(f"El ingreso total de la tienda 4 es: {ingr_total_t4}")
'''

def obtener_ingresos(*tiendas):
  ingresos = {f'Tienda {i}': t['Precio'].sum() for i, t in enumerate(tiendas, start=1)}

  df_ingresos = pd.DataFrame(list(ingresos.items()), columns=['Tienda', 'Ingresos'])

  pd.set_option('display.float_format', '{:,.0f}'.format)

  return df_ingresos

df_ingresos= obtener_ingresos(tienda, tienda2, tienda3, tienda4)
print(df_ingresos)

     Tienda      Ingresos
0  Tienda 1 1,150,880,400
1  Tienda 2 1,116,343,500
2  Tienda 3 1,098,019,600
3  Tienda 4 1,038,375,700

# 2. Ventas por categoría

En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [6]:
def ventas_por_categoria(*tiendas):
    categorias = {
        f'Tienda {i}': t['Categoría del Producto'].value_counts()
        for i, t in enumerate(tiendas, start=1)
    }

    df = pd.DataFrame(categorias).fillna(0).astype(int)
    df.index.name = "Categoría"     # nombre del índice
    df = df.reset_index()           # convertir índice en columna

    return df

df_categorias = ventas_por_categoria(tienda, tienda2, tienda3, tienda4)
print(df_categorias)

                 Categoría  Tienda 1  Tienda 2  Tienda 3  Tienda 4
0  Artículos para el hogar       171       181       177       201
1     Deportes y diversión       284       275       277       277
2        Electrodomésticos       312       305       278       254
3             Electrónicos       448       422       451       451
4   Instrumentos musicales       182       224       177       170
5                 Juguetes       324       313       315       338
6                   Libros       173       197       185       187
7                  Muebles       465       442       499       480

# 3. Calificación promedio de la tienda

En este paso, debes calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [7]:
def calificaciones_promedio(*tiendas):
  promedios = {
      f'Tienda {i}' : t['Calificación'].mean()
      for i, t in enumerate(tiendas, start=1)
  }

  df_promedios = pd.DataFrame(promedios.items(), columns=['Tienda', 'Calificación Promedio'])
  pd.set_option('display.float_format', '{:,.2f}'.format)
  return df_promedios

df_promedios = calificaciones_promedio(tienda, tienda2, tienda3, tienda4)
print(df_promedios)

     Tienda  Calificación Promedio
0  Tienda 1                   3.98
1  Tienda 2                   4.04
2  Tienda 3                   4.05
3  Tienda 4                   4.00

# 4. Productos más y menos vendidos

En este paso, debes identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [18]:
tienda['Producto'].value_counts()

Producto
Microondas                     60
TV LED UHD 4K                  60
Armario                        60
Secadora de ropa               58
Mesa de noche                  56
Bloques de construcción        56
Balón de baloncesto            55
Bicicleta                      54
Vaso térmico                   54
Refrigerador                   54
Impresora                      54
Batería                        53
Cubertería                     52
Carrito de control remoto      52
Modelado predictivo            51
Auriculares                    50
Ajedrez de madera              49
Iphone 15                      49
Lavavajillas                   48
Lavadora de ropa               47
Guitarra eléctrica             47
Guitarra acústica              46
Sofá reclinable                46
Silla de oficina               46
Estufa                         45
Cama box                       44
Kit de bancas                  44
Smart TV                       44
Cama king                      44
Cubo mágico 8x8                44
Mesa de centro                 44
Set de ollas                   43
Smartwatch                     43
Juego de mesa                  43
Balón de voleibol              42
Dashboards con Power BI        42
Tablet ABXY                    42
Sillón                         41
Iniciando en programación      41
Set de vasos                   41
Asistente virtual              40
Muñeca bebé                    40
Mesa de comedor                40
Dinosaurio Rex                 40
Cuerda para saltar             40
Mochila                        39
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

In [40]:
def productos_mas_menos_vendidos(*tiendas):
    resultados = {}

    for i, tienda in enumerate(tiendas, start=1):
        # Contar cuántas veces se vendió cada producto
        conteo = tienda['Producto'].value_counts()

        max_ventas = conteo.max()   # mayor número de ventas
        min_ventas = conteo.min()   # menor número de ventas

        # Obtener TODOS los productos con el máximo y mínimo
        productos_mas = conteo[conteo == max_ventas].index.tolist()
        productos_menos = conteo[conteo == min_ventas].index.tolist()

        # Guardar resultados en un diccionario
        resultados[f"Tienda {i}"] = {
            "Productos más vendidos": productos_mas,
            f"Ventas (más vendidos)": max_ventas,
            "Productos menos vendidos": productos_menos,
            f"Ventas (menos vendidos)": min_ventas
        }

    return resultados


resultados = productos_mas_menos_vendidos(tienda, tienda2, tienda3, tienda4)

df_resultados = pd.DataFrame(resultados).T
print(df_resultados)

                        Productos más vendidos Ventas (más vendidos)  \
Tienda 1  [Microondas, TV LED UHD 4K, Armario]                    60
Tienda 2           [Iniciando en programación]                    65
Tienda 3                       [Kit de bancas]                    57
Tienda 4                            [Cama box]                    62

                           Productos menos vendidos Ventas (menos vendidos)
Tienda 1  [Auriculares con micrófono, Celular ABXY]                      33
Tienda 2                            [Juego de mesa]                      32
Tienda 3                  [Bloques de construcción]                      35
Tienda 4                       [Guitarra eléctrica]                      33

# 5. Envío promedio por tienda

In [44]:
def envio_promedio_por_tienda(*tiendas):

    promedios = {
        f"Tienda {i}": t["Costo de envío"].mean()
        for i, t in enumerate(tiendas, start=1)
    }

    df_envios = pd.DataFrame(promedios.items(), columns=["Tienda", "Envío Promedio"])
    return df_envios

df_envios = envio_promedio_por_tienda(tienda, tienda2, tienda3, tienda4)
print(df_envios)

     Tienda  Envío Promedio
0  Tienda 1       26,018.61
1  Tienda 2       25,216.24
2  Tienda 3       24,805.68
3  Tienda 4       23,459.46